@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 62.5%;
	font-family: "Kanit", sans-serif;
}

body {
	height: 100vh;
	width: 100%;
	background-color: white;
}

#main-page {
	height: 100vh;
	width: 100%;
	display: grid;
	grid-template-rows: 1fr 1fr 2fr;
	justify-items: center;
}

#main-page > header {
	font-size: 4rem;
	grid-row: 1 / 2;
	grid-column: 1 / -1;
	display: grid;
	place-content: center;
}

form {
	width: 40rem;
}

form:first-child {
	grid-row: 2 / 3;
	grid-column: 1 / -1;
}

form:last-child {
	grid-row: 3 / 4;
	grid-column: 1 / -1;
}

label {
	font-size: 2.5rem;
	display: flex;
	flex-direction: column;
}

input {
	font-family: inherit;
	border: 0.5rem solid black;
	font-size: 2rem;
	padding: 0.5rem;
	outline: none;
	margin-bottom: 0.8rem;
}

input:focus {
	border: 0.5rem solid red;
}

button {
	background-color: red;
	font-family: inherit;
	color: black;
	font-size: 2rem;
	padding: 0.6rem;
	outline: none;
	width: 100%;
	border: 0.5rem solid black;
}

#game-page {
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-rows: 0.5fr 6fr;
}

#game-page > header {
	display: flex;
	width: 100%;
}

#game-page > header > div {
	width: 20%;
	border-bottom: 0.5rem solid red;
	padding: 0 0.3rem;
}
#status-one {
	width: 1rem;
	height: 1rem;
	display: inline-block;
	border-radius: 50%;
	background-color: grey;
	margin-left: 0.5rem;
}
#status-two {
	width: 1rem;
	height: 1rem;
	display: inline-block;
	border-radius: 50%;
	background-color: grey;
	margin-right: 0.5rem;
}
#game-page > header > div:first-child {
	text-align: end;
}

#game-page > header > div > p:first-child {
	font-size: 5rem;
	font-weight: bold;
}

#player-one-name,
#player-two-name {
	font-size: 2rem;
}

#player-one > div {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
#player-two > div {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

#game-page > header > #message {
	font-size: 2.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 0 1.2rem;
	border: none;
	width: 60%;
}

#new-game {
	width: 60%;
}

#player-one {
	margin-right: auto;
}

#player-two {
	margin-left: auto;
}

#grid {
	display: grid;
	grid-template-columns: repeat(3, 15rem);
	grid-template-rows: repeat(3, 15rem);
	font-weight: bold;
	justify-self: center;
	align-self: center;
}

.cell {
	display: grid;
	place-content: center;
	border: 0.5rem solid red;
	color: black;
	font-family: "Kanit";
	font-size: 8rem;
	cursor: default;
}

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
	border-top: none;
}
.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
	border-bottom: none;
}

.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7) {
	border-left: none;
}
.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
	border-right: none;
}

@media (max-width: 500px) {
	form {
		width: 80%;
	}
	#main-page > header {
		font-size: 9vw;
	}
	#game-page > header > #message {
		font-size: 2rem;
	}
	#grid {
		grid-template-columns: repeat(3, 12rem);
		grid-template-rows: repeat(3, 12rem);
	}
	.cell {
		font-size: 6rem;
	}
}
