body {
	height: 100vh;
	display: grid;
	place-items: center;
}

#grid {
	display: grid;
	width: 500px;
	height: 500px;
	gap: 15px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	background-color: black;
	font-size: 50px;
	font-family: sans-serif;
	font-weight: bold;
}

.cell {
	background-color: white;
	display: grid;
	place-items: center;
}
